*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    background-color: white;
    position: relative;
}
.loading
{
    position: absolute;
    visibility: hidden;
    height: 200px;
    width: 200px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    background: no-repeat url('./images/loader.gif');
    z-index: 999999;
}
/* .bg
{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/background.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
} */
.heading
{
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
}
.title-text
{
    text-align: center;
    padding: 5px;
}
.input-section label
{
    color: rgb(0, 0, 0);
}